
#question_title {
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
}


#myheader {
    background-color: white;
    color: orange;
    font-family: Montserrat, sans-serif;
    }

body {
    background-color: white;
    background-image: url("/static/css/950x350-anti-flash-white-solid-color-background.jpg");
    color: black;
    font-family: Montserrat, sans-serif;
}

.content-wrapper {
    padding: 10%;
}




p {
    background-color: transparent;
    color: darkslategrey;
    font-family: Montserrat, sans-serif;
    font-size: larger;
    font-weight: bold;
    }

a {
    background-color: transparent;
    color: black;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

.title_font {

   background-color: transparent;
    color: black;
    font-weight: bolder;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}
table, tr, th {
    background-color:white;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    padding : 5px;
    color: black;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

td {
    border: 1px solid black;
}
ol {
    border: 1px solid black;
}

.comment{
    background-color: aliceblue;
}