
#question_title {
    font-weight: bolder;
    font-family: Montserrat;
}


#myheader {
    background-color: white;
    color: orange;
    font-family: Montserrat, sans-serif;
    }

body {
    background-color: white;
    background-image: url("/static/css/background-2072829_1920.jpg");
    color: black;
    font-family: Montserrat, sans-serif;
}

.content-wrapper {
    padding: 10%;
}



p {
    background-color: white;
    color: orange;
    font-family: Montserrat, sans-serif;
    font-size: larger;
    }


table, tr, th {
    background-color:white;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    padding : 5px;
}

td {
    border: 1px solid black;
}
ol {
    border: 1px solid black;
}

.comment{
    background-color: aliceblue;
}