{% extends "layout.html" %}

{% block content %}

<h1>
    Add question
</h1>



  <form action="/add-question"  method="POST">

            <label for="title">Title of question</label><br>
            <input id="title"  name="title" rows="1" cols="20"><br>


            <label for="message">Type question</label><br>
          <textarea id="message" name="message"  rows="5" cols="200"></textarea><br>


            <label for="image">Add image</label><br>
          <textarea id="image" name="image"  rows="1" cols="80"></textarea><br>

      <button type="submit">add question</button>
  </form>

    <h2><a href="/">HOME PAGE</a> </h2>

{% endblock %}