<!DOCTYPE html>
<html lang="en">
<body>


   <h1>Search</h1>

        <form action="/search_result">

            <input type="text" name="search_result" value="Search_for...">
             <input type="submit" value="Submit"><br><br>
        </form>

    <table>
        <tr>
            {% for header in QUESTION_HEADERS %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for question in question_list %}

            <tr>
                {% for item in question.values() %}
                    {% if item == question['title'] %}
                        <td><a href="{{url_for('question_view_up', question_id=question['id'])}}"> {{ item }} </a></td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h1><a href="/add-question">Add new question</a></h1>

</body>
</html>
