<!DOCTYPE html>
<html lang="en">
<body>
    <table>
        <tr>
            {% for header in QUESTION_HEADERS %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for question in question_list %}

            <tr>
                {% for item in question.values() %}
                    {% if item == question['title'] %}
                        <td><a href="{{url_for('show_question_and_answers', question_id=question['id'])}}"> {{ item }} </a></td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
