    {% extends "layout.html" %}

    {% block content %}


    <h1>Search</h1>



        <form action="/search_result", method="POST">

            <p>
                <textarea id="search" name="search" rows="1" cols="50"></textarea>

                <input type="submit" value="Submit">
                <br><br>
            </p>
        </form>

        <a href="/registration">Register</a>


        <a href="/user_login">Login</a>

    <table>
        <tr>
            {% for header in QUESTION_HEADERS %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for question in question_list %}

            <tr>
                {% for item in question.values() %}
                    {% if item == question['title'] %}
                        <td><a id="question_title" href="{{url_for('question_view_up', question_id=question['id'])}}"> {{ item }} </a></td>

                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h1><a href="/add-question">Add new question</a></h1>

    {% endblock %}
