<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        {% for header in QUESTION_HEADERS %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>

    <tr>
        {% for field in single_question.values() %}
             <td>{{ field }}</td>

        {% endfor %}
         <button onclick="{{url_for('question_vote_up')}}">Vote this question up</button>
         <button onclick="{{url_for('question_vote_down')}}">Vote this question down</button>
    </tr>
</table>


{% if not all_answers %}
    <p>                         No answers for that question                                </p>


{% else %}
<table title="ANSWERS FOR GIVEN QUESTION">


<table>
    <tr>
        {% for header in ANSWER_HEADERS %}
            <th>{{header}}</th>
        {% endfor %}

    </tr>
        {% for single_answer in all_answers %}
    <tr>



        {% for field in single_answer.values() %}
               <td>{{ field }}</td>
        {% endfor %}
            <td> <button onclick="{{url_for('answer_vote_up')}}">Vote this answer up</button> </td>
            <td> <button onclick="{{url_for('answer_vote_down')}}">Vote this answer down</button> </td>


    </tr>
        {% endfor %}
</table>

</table>
{%  endif %}
</body>
</html>