<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        {% for header in QUESTION_HEADERS %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>

    <tr>
        {% for field in single_question %}
             <td>{{ field.id }}</td><td> {{field.submission_time}}</td> <td>{{field.view_number}}</td><td>{{field.vote_number}}</td><td>{{field.title}}</td><td>{{field.message}}</td><td>{{field.image}}</td>

        {% endfor %}


        <a href="{{url_for('question_vote_up', question_id=single_question['id'])}}">
   <input type="button" value="vote this question up" />
        </a>
        <a href="{{url_for('question_vote_down', question_id=single_question['id'])}}">
   <input type="button" value="vote this question down" />
        </a>

    </tr>
</table>

<br><br><br>
<h2>--------------------ANSWERS----------------------</h2>
{% if not all_answers %}
    <p>                         No answers for that question                                </p>


{% else %}
<table title="ANSWERS FOR GIVEN QUESTION">


<table>
    <tr>
        {% for header in ANSWER_HEADERS %}
            <th>{{header}}</th>
        {% endfor %}

    </tr>


        {% for field in all_answers %}
         <tr>
                <td>{{field.id}}</td>
                <td>{{field.submission_time}}</td>
                <td>{{field.vote_number}}</td>
                <td>{{field.question_id}}</td>
                <td>{{field.message}}</td>
                <td>{{field.image}}</td>



    </tr>
    {% endfor %}
</table>

</table>
{%  endif %}
<a href={{ url_for('new_answer', question_id = single_question['id']) }}>Add answer</a><br>
<h2>---------------------------------------------------------</h2>
<br><br><br><br>

<h2><a href="/">HOME PAGE</a> </h2>
</body>
</html>